@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;
@use '../../scss/breakpoints' as *;

.wrapper{
    position: fixed;
    top: $spacing-nm-1;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
    
    @include custom-screen($breakpoint: 600px){
        display: none;
    }
    .list{
        display: flex;
        gap: $spacing-nm-4;
        color: $white1;
        font-size: $txt-sm-3;

        .link{
            cursor: pointer;
        }

        .author{
            font-size: $txt-sm-2;
            width: max-content;
        }
    }
}