@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;
@use '../../scss/breakpoints' as *;

.container{ 
    width: fit-content;
    height: 100vh;
    position: relative;
    background-color: $white3;
    @include quicksand;

    @include custom-screen($breakpoint: 800px){
        width: 100vw;
        height: auto;
    }

    .line{
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $gray1;

        @include custom-screen($breakpoint: 800px){
            display: none
        }
    }

    .content{
        @include content;
        padding-left: $spacing-sm-4;
        padding-right: $spacing-l-2;
        padding-bottom: $spacing-nm-4;
        display: flex;
        gap: $spacing-sm-3;

        @include custom-screen($breakpoint: 800px){ 
            display: block;
            padding-left: $spacing-sm-2;
            padding-right: $spacing-sm-2;
        }
    }
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;

    @include custom-screen($breakpoint: 800px){
        align-items: center;
        width: 100%;
    }

    .top{
        display: flex;
        gap: $spacing-l-2;
        white-space: nowrap;
        font-size: $txt-sm-2;

        .col:nth-of-type(2){
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .bottom{
        
        @include custom-screen($breakpoint: 800px){
            margin-bottom: $spacing-nm-2;
        }

        .char{
            font-size: $txt-sm-3;
        }

        .heading{
            font-size: $txt-l-3;
            font-weight: 400;
            line-height: 1;
            margin-bottom: $spacing-sm-2;
            @include cormorant;

            span{
                opacity: 0;

                @include custom-screen($breakpoint: 800px){
                    opacity: 1;
                }
            }
        }

        .linkContainer{
            display: flex;
            align-items: center;
            gap: $spacing-sm-4;
            font-size: $txt-sm-3;
            cursor: pointer;
            
            p{
                color: $brown;
            }

            .circle{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $brown;
                @include flexCenter;

                p{
                    color: $white1;
                }
            }
        }
    }
}

.image1{
    width: 700px;
    height: 100%;
    flex: 0 0 700px;
    overflow: hidden;

    @include custom-screen($breakpoint: 800px){
        width: 100%;
        height: 450px;
    }

    @include custom-screen($breakpoint: 600px){
        height: 350px;
    }

    @include sm-screen{
        height: 250px;
    }

    img{
        @include img;
    }
}

.img2{
    width: 500px;
    height: 100%;
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm-2;

    @include custom-screen($breakpoint: 800px){
        flex-direction: row;
        margin-block: $spacing-sm-1;
        width: 100%;
        height: 400px;
    }

    @include custom-screen($breakpoint: 600px){
        height: 250px;
    }

    @include sm-screen{
        height: 175px;
    }

    .row{
        width: 100%;
        height: 100%;
        overflow: hidden;

        img{
            @include img;
            height: 100%;
        }
    }
    
}

.img3{
    width: 700px;
    height: 100%;
    flex: 0 0 700px;
    overflow: hidden;

    @include custom-screen($breakpoint: 800px){
        width: 100%;
        height: 450px;
    }

    @include custom-screen($breakpoint: 600px){
        height: 350px;
    }

    @include sm-screen{
        height: 250px;
    }

    img{
        @include img;
    }
}