@use '../../scss/variables' as *;
@use '../../scss/breakpoints' as *;

.container{
    width: 100vw;
    height: 100vh;
    flex: 0 0 100vw;
    margin-left: -1px;
    background-color: $brown;

    @include custom-screen($breakpoint: 800px){
        display: none;
    }
}