@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;
@use '../../scss/breakpoints' as *;

.container{
    @include container; 
    width: fit-content;
    height: 100vh;
    background-color: $white3;

    @include custom-screen($breakpoint: 800px){
        width: 100vw;
    }
    .content{
        @include content;
        
        @include custom-screen($breakpoint: 800px){
            @include flexCenter;
            flex-direction: column;
        }

        .header{
            font-size: $txt-sm-3;
            margin-bottom: $spacing-sm-3;
            @include quicksand;

            
        }

        .paragraph{
            font-size: $txt-l-1;
            line-height: 1;
            white-space: nowrap;

            @include custom-screen($breakpoint: 800px){
                font-size: $txt-nm-3;
                text-align: center;
            }

            @include sm-screen{
                font-size: $txt-sm-4;
            }
            span{
                opacity: 0;

                @include custom-screen($breakpoint: 800px){
                    opacity: 1;
                }
            }
        }

        .imgContainer{
            width: 300px;
            height: 200px;
            margin-bottom: $spacing-sm-2;
            position: relative;

            @include sm-screen{
                width: 250px;
                height: 150px;
            }

            img{
                @include img;
                position: relative;
                z-index: 2;
                clip-path: inset(0 100% 0 0);

                @include custom-screen($breakpoint: 800px){
                    clip-path: inset(0 0 0 0);
                }
            }

            .overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $brown;
                clip-path: inset(0 100% 0 0);
            }
        }

        .caption{
            font-size: $txt-sm-3;
            @include quicksand;

            @include custom-screen($breakpoint: 800px){
                font-size: $txt-sm-2;
            }

            @include sm-screen{
                font-size: $txt-sm-1;
            }
        }
    }
}