
$black: #120902;
$white1: #fff;
$white2: #fdfbf5;
$white3: #f7f4ef;
$white4: #f6f6f6;
$gray1: #969696;
$gray2:  #7e7e7e;
$brown: #c88e57;

$txt-sm-1: 0.6rem;
$txt-sm-2: 0.7rem;
$txt-sm-3: 0.8rem;
$txt-sm-4: 0.9rem;

$txt-nm-1: 1rem;
$txt-nm-2: 1.1rem;
$txt-nm-3: 1.3rem;
$txt-nm-4: 1.6rem;

$txt-l-1: 2rem;
$txt-l-2: 2.4rem;
$txt-l-3: 3rem;
$txt-l-4: 4.5rem;
$txt-l-5: 5rem;

$txt-rsp-1: 3vw;
$txt-rsp-2: 4vw;
$txt-rsp-3: 5vw;
$txt-rsp-4: 6vw;
$txt-rsp-5: 8vw;
$txt-rsp-6: 10vw;

$spacing-sm-1: 0.5rem;
$spacing-sm-2: 0.7rem;
$spacing-sm-3: 0.9rem;
$spacing-sm-4: 1rem;

$spacing-nm-1: 1.5rem;
$spacing-nm-2: 2rem;
$spacing-nm-3: 2.5rem;
$spacing-nm-4: 3rem;

$spacing-l-1: 4rem;
$spacing-l-2: 5.5rem;
$spacing-l-3: 9rem;
$spacing-l-4: 14rem;
$spacing-l-5: 16rem;
$spacing-l-6: 18rem;